body{
    background-color: rgb(72, 173, 235);
    margin:center;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

a{
    background-color: rgb(72, 0, 167);
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: center;
    text-decoration: none;
}
h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}