
body{
    background-color:#2A5C8F;
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 20px;
    min-height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:2rem;
}

header{
    text-align:center;
    margin-bottom: 2rem;
}


a{
    background-color: chocolate;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    font-size: 16px;
    display:inline-block;
    margin-right:15px;
    cursor:pointer;
}

a:hover{
    transform: translateY(-3px);
}

h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}
h2{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

menu{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-bottom: 30px;
}


icone{
    font: size 1.3em;
    margin-right:6px;
}


