
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link th:href="@{/basic_methods.css}" rel="stylesheet">
    <title>Métodos Básicos</title>
</head>
<body>
    <h1>Métodos Básicos</h1>
    <a th:href="@{/}">Voltar</a>

    <form th:action="@{/gerarProblema}" method="post">
        <label for="capacidadeMochila">Capacidade da Mochila:</label>
        <input type="number" id="capacidadeMochila" name="capacidadeMochila" required><br><br>

        <label for="numeroItens">Quantidade de Itens:</label>
        <input type="number" id="numeroItens" name="numeroItens" required><br><br>

        <button type="submit">Gerar Problema</button>
    </form>

    <h2>Resultados</h2>
    <div id="resultados">
        <pre th:if="${resultados != null}" th:text="${resultados}">Nenhum resultado disponível.</pre>
    </div>
</body>
</html>

