body {
    background-color: #455A64; /* Cor mais neutra e profissional */
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: white; /* Cor do texto principal */
}

h1 {
    color: #4CAF50; /* Verde para indicar movimento ou ação */
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

h2 {
    color: #3e8e41; /* Verde mais escuro para subtítulos */
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.8em;
}

a {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #3e8e41; /* Verde mais escuro no hover */
}

form {
    background-color: #f0f8ff; /* Azul bem claro para o fundo do formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    margin-bottom: 2em;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
    color: #333; /* Cor do texto em labels */
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

button[type="submit"] {
    background-color: #4CAF50; /* Verde para botões de ação */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #3e8e41; /* Verde mais escuro no hover */
}

#resultados {
    margin-top: 2em;
    padding: 1em;
    background-color: #e9ecef; /* Cinza bem claro */
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

#resultados p {
    font-size: 1em;
    color: #333;
}
