<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link th:href="@{/info.css}" rel="stylesheet">
    <title>Descrição do Problema</title>
</head>
<body>
    <h1>
        Descrição do Problema
    </h1>
    <a th:href="@{/}">
        Voltar
    </a>

    <h2>
        O que este projeto vai propor?
    </h2>
    <p>Criaremos um sistema para otimizar o uso de espaço para remessas de uma empresa de logística, que deseja realizar entregas de ítens com o intuito de maximizar seu lucro, sem exceder a capacidade máxima das unidades da frota</p>

    <h2>
       Por que este projeto?
    </h2>
    <p>O propósito deste projeto é desenvolver um sistema que solucione problemas relacionados ao algoritmo mochila, abordado na na matéria de programação linear.</p>
    <h2> O que este projeto fará </h2>
    <p>
        Este projeto resolverá um problema de um cenário fictício para fins de aprendizado.
    </p>

    <h2>
        Cenário Utilizado
    </h2>
    <p>
        Uma pequena empresa de logística, cuja frota é composta por camionetes, deseja otimizar as entregas por remessa, respeitando a capacidade de itens por caçamba e o peso que cada veículo suporta, de tal forma a maximizar o lucro. As camionetes suportam até 600kg de peso e conseguem levar 6 itens no máximo.
    </p>

</body>
</html>