<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/genetic_algorithm.css}"  />
    <title>Configuração Genética</title>
</head>
<body>
<h1>Configuração Genética</h1>
<a href="/">Voltar</a>

<form id="form-parametros-geneticos" action="/genetic/executar_algoritmo" method="post">
    <label for="tamanhoProblema">Tamanho do Problema:</label>
    <input type="number" id="tamanhoProblema" name="tamanhoProblema" required />

    <label for="tp">TP (Tamanho de População):</label>
    <input type="number" id="tp" name="tp" required step="any" />

    <label for="tc">TC (Taxa de Cruzamento):</label>
    <input type="number" id="tc" name="tc" required step="any" min="0" max="1" />

    <label for="tm">TM (Taxa de Mutação):</label>
    <input type="number" id="tm" name="tm" required step="any" min="0" max="1" />

    <label for="ng">NG (Número de Gerações):</label>
    <input type="number" id="ng" name="ng" required />

    <label for="li">LI (Limite mochila):</label>
    <input type="number" id="li" name="li" required />

    <button type="submit" id="executarConfiguracao">EXECUTAR CONFIGURAÇÃO</button>
</form>


<h2>Resultados</h2>
<div id="resultados">
    <pre th:text="${resultado}">RESULTADO DA EXECUÇÃO.</pre>

</div>


<script>
    const botaoConfig = document.getElementById('executarConfiguracao');
    const botaoTodos = document.getElementById('executarTodos');
    const saida = document.getElementById('saida');

    botaoConfig.addEventListener('click', () => {
      const tp = document.getElementById('tp').value;
      const tc = document.getElementById('tc').value;
      const tm = document.getElementById('tm').value;
      const ng = document.getElementById('ng').value;
      const li = document.getElementById('li').value;
      const tamanhoProblema = document.getElementById('tamanhoProblema').value;

      saida.textContent = `Executando com Tamanho=${tamanhoProblema}, TP=${tp}, TC=${tc}, TM=${tm}, NG=${ng}, LI=${li}`;
    });

    botaoTodos.addEventListener('click', () => {
      saida.textContent = "Executando todas as configurações disponíveis...";
    });
</script>
</body>
</html>