<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Logística Inteligente - Problema da Mochila</title>
</head>
<header>
    <h1>
    Sistema de otimização logísitca
</h1>
<h2>
    Problema da Mochila aplicado ao gerenciamento de carga
</h2>
</header>
<body>
    <nav class="menu">
        <a th:href="@{/metodos}">
        <span class="icone">📦</span>
        Métodos Básicos
    </a>
    <a href = "#" onclick="Acesso(event)">
        <span class="icone">🧬</span>
        Algoritmos Genéticos
    </a>
    <a th:href="@{/info}">
        <span class="icone">📖</span>
        Descrição do Problema
    </a>
    </nav>

    <script>
        function Acesso(event){
            event.preventDefault();
            alert("Função Indisponível");
        }
        
    </script>
    
</body>
</html>